.thumb.png
layers/
data/
tmp/
*.xml
*.osm.pbf
node_modules/
localconfig.json
localconfig.js
.kosmtik-config.yml
.env
.DS_Store

# german style additions
project-hrb.mml
project-mod.mml
localconfig.js
data
tmp
**kosmtik
test*.png

# Generated at runtime by Python.
*.pyc   
**/*.pyc
test-*
